h1
{
    text-align: center;
    color: blueviolet;
}


#medicines {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #medicines td, #medicines th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #medicines tr:nth-child(even){background-color: #f2f2f2;}
  
  #medicines tr:hover {background-color: #ddd;}
  
  #medicines th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blueviolet;
    color: white;
  }

  .test{
    display: flex;
  }

  .add-button{
    margin-left: 5px;
    height: 32px;
    background-color: rgb(179, 108, 245);
  }