<div class="test">
  <input type="text" [(ngModel)]="searchString" placeholder="Serach any fields"/>
  <button class="add-button" routerLink="/addItem">Add Medicine</button>
</div>
 
<table id="medicines">
  <tr>
    <th *ngFor = "let column of headers">
      {{column | uppercase}}
    </th>
  </tr>

  <tr [ngStyle]="{'background-color':getBackgroundColor(medicine)}" *ngFor = "let medicine of filteredMedicineList; let i = index">
    <td *ngFor = "let column of headers">
      {{medicine[column]}}
    </td>    
  </tr>
</table>
